*
!/.gitignore
!/alacritty
!/alacritty/*
!/sway
!/sway/*
!/waybar
!/waybar/*
!/wofi
!/wofi/*
!/wallpapers
!/wallpapers/*
!/clash_bk
!/clash_bk/*
!/KEY_misc
!/KEY_misc/*
!/KEY_misc/win_smb_share/*
!Readme.md